[general]
chrLenFile = /hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/freec/Homo_sapiens.GRCh37.GATK.illumina.len
ploidy = 2
window = 1000
chrFiles = /hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/freec/chr_files
gemMappabilityFile = /hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/freec/mappability_tracks/out100m2_hg19.gem
BedGraphOutput=TRUE
maxThreads=8